{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

    <!-- It checks if the user is logged in -->
    {% if user.is_authenticated %}

    <!-- This page displays all questions available -->
    <div class="px-4 py-5 my-5 text-center">
        <h1>All Questions</h1>
        <div class="col-lg-6 mx-auto">

            {% if latest_question_list %}
            {% for question in latest_question_list %}
                <a href="{% url 'polls:detail' question.id %}" class="btn btn-light lead mb-4">{{ question.question_text }}</a><br>
            {% endfor %}
            {% else %}
                <p class="lead mb-4">No polls are available.</p>
            {% endif %}

        </div>
    </div>

    <!-- It checks if the user is NOT logged in -->
    {% else %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>Hey, you are not logged in!</h1>
                <p class="lead mb-4">Make sure you are logged in to see polls and vote.</p>
            </div>
        </div>
    </section>
    {% endif %}

{% endblock %}