<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

    <!-- This section sign the user, in case the user has no sign up yet -->
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1>Sign-up Page</h1>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
                </form>

            </div>
        </div>
  </section>
{% endblock %}