<!-- templates/home.html-->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- This function checks if the user is logged in -->
{% if user.is_authenticated %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Welcome {{ user.username }}!</h1>
        <p>Polls App</p>
      </div>
    </div>
  </section>

  <!-- If the user is not logged in, display -->
{% else %}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <p class="lead mb-4">You are not logged in</p>
        <p class="lead mb-4">Please log-in to see polls and vote.</p>
      </div>
    </div>
  </section>
{% endif %}

{% endblock %}